.post{
  width:25%;
  padding: 16px;
  text-align: center;
  border: 1px solid green;
  box-shadow: 0 2px 3px black;
  margin: 4px;
  background-color: whitesmoke;
  position: relative;

}

.post:hover, .posts:active{
  background-color: blue;
  color: white;
}